<a href="https://colab.research.google.com/github/jason96819/Classification-of-soccer-player-types/blob/main/Data%20collection%2C%20refining%2C%20and%20preprocessing/2_%EC%B5%9C%EC%A2%85_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_%EC%B5%9C%EC%A2%85_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
player_reco = pd.read_csv('./22_kleague_player_reco.csv', encoding= 'cp949')

In [ ]:
player_reco = player_reco.drop(columns=['Column1'])

In [ ]:
player_reco['년도'] = '2022'

In [ ]:
player_reco = player_reco[['년도', '클럽명', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']]

In [ ]:
player_reco

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,2022,포항,강현무,1879,0,0,0,0,0,0,...,26,86,0,31,6,0,1,4,3,0
600,2022,포항,정재희,2134,7,3,66,24,14,28,...,20,32,19,147,37,30,7,9,0,0
601,2022,안산,이상민95,3318,5,2,23,8,8,7,...,60,98,86,237,90,23,57,50,3,0
602,2022,서울,이상민98,2281,1,4,7,2,2,3,...,137,129,44,93,75,6,25,12,3,0
603,2022,충남아산,이상민99,3461,1,0,19,7,2,10,...,313,200,69,182,136,8,33,42,3,0

In [ ]:
c = pd.read_csv('./20_k_league_01.csv')

In [ ]:
c

,클럽명,년도,선수명,포지션,등번호,출전시간,득점,도움,슈팅,유효 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,강원,2020,고무열,FW,10,1824,9,1,50,24,...,8,9,18,71,1,15,28,36,0,0
1,강원,2020,김경중,FW,66,1387,1,2,15,6,...,18,21,47,85,5,13,25,29,4,0
2,강원,2020,김수범,MF,28,286,1,0,5,1,...,9,2,11,27,0,1,2,4,0,0
3,강원,2020,김승대,FW,12,1666,2,6,13,7,...,6,10,8,72,0,14,5,17,0,0
4,강원,2020,김영빈,DF,2,2447,1,0,13,6,...,47,46,140,212,7,5,33,19,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,포항,2020,전민광,DF,4,1104,0,1,8,0,...,37,12,69,69,7,1,10,14,2,1
253,포항,2020,최영준,MF,6,2198,0,1,8,0,...,21,56,146,243,7,10,29,34,5,0
254,포항,2020,팔라시오스,MF,77,1671,5,6,27,11,...,6,29,30,106,0,19,29,20,5,1
255,포항,2020,팔로세비치,MF,26,1698,14,6,60,26,...,3,23,32,146,2,12,11,25,3,0
256,포항,2020,하창래,DF,5,2456,1,0,11,4,...,72,53,134,221,15,3,42,18,8,0

In [ ]:
c = c.drop(columns=['포지션', '등번호'])

In [ ]:
c

,클럽명,년도,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,강원,2020,고무열,1824,9,1,50,24,13,13,...,8,9,18,71,1,15,28,36,0,0
1,강원,2020,김경중,1387,1,2,15,6,3,6,...,18,21,47,85,5,13,25,29,4,0
2,강원,2020,김수범,286,1,0,5,1,0,4,...,9,2,11,27,0,1,2,4,0,0
3,강원,2020,김승대,1666,2,6,13,7,3,3,...,6,10,8,72,0,14,5,17,0,0
4,강원,2020,김영빈,2447,1,0,13,6,1,6,...,47,46,140,212,7,5,33,19,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,포항,2020,전민광,1104,0,1,8,0,1,7,...,37,12,69,69,7,1,10,14,2,1
253,포항,2020,최영준,2198,0,1,8,0,0,8,...,21,56,146,243,7,10,29,34,5,0
254,포항,2020,팔라시오스,1671,5,6,27,11,6,10,...,6,29,30,106,0,19,29,20,5,1
255,포항,2020,팔로세비치,1698,14,6,60,26,15,19,...,3,23,32,146,2,12,11,25,3,0
256,포항,2020,하창래,2456,1,0,11,4,0,7,...,72,53,134,221,15,3,42,18,8,0

In [ ]:
c.columns = ['클럽명', '년도', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']

In [ ]:
d = pd.read_csv('./20_k_league_02.csv', encoding='cp949')

In [ ]:
d = d.drop(columns=['Column1'])

In [ ]:
d

,클럽명,년도,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,부천,2020,감한솔,1086,0,0,4,0,1,3,...,12,18,45,87,1,8,18,15,1,0
1,상주,2020,강상우,1433,7,5,29,10,13,6,...,1,11,26,67,0,11,6,37,0,0
2,경남,2020,강승조,242,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
3,제주,2020,강윤성,1105,3,4,12,6,3,3,...,3,17,51,101,2,10,23,23,6,0
4,서울E,2020,강정묵,833,0,0,0,0,0,0,...,10,1,6,70,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,대전,2020,황도연,830,0,0,1,1,0,0,...,36,18,43,59,1,1,8,7,1,0
270,안양,2020,황문기,1557,2,0,27,10,5,12,...,6,22,50,187,1,19,31,47,5,0
271,상주,2020,황병근,573,0,0,0,0,0,0,...,5,1,0,35,0,0,0,1,0,0
272,경남,2020,황성민,581,0,0,0,0,0,0,...,4,1,2,44,0,0,0,0,0,0
273,경남,2020,황일수,1567,5,5,32,12,11,9,...,2,9,21,61,0,22,15,25,1,0

In [ ]:
d.columns = ['클럽명', '년도', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']

In [ ]:
d

,클럽명,년도,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,부천,2020,감한솔,1086,0,0,4,0,1,3,...,12,18,45,87,1,8,18,15,1,0
1,상주,2020,강상우,1433,7,5,29,10,13,6,...,1,11,26,67,0,11,6,37,0,0
2,경남,2020,강승조,242,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
3,제주,2020,강윤성,1105,3,4,12,6,3,3,...,3,17,51,101,2,10,23,23,6,0
4,서울E,2020,강정묵,833,0,0,0,0,0,0,...,10,1,6,70,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,대전,2020,황도연,830,0,0,1,1,0,0,...,36,18,43,59,1,1,8,7,1,0
270,안양,2020,황문기,1557,2,0,27,10,5,12,...,6,22,50,187,1,19,31,47,5,0
271,상주,2020,황병근,573,0,0,0,0,0,0,...,5,1,0,35,0,0,0,1,0,0
272,경남,2020,황성민,581,0,0,0,0,0,0,...,4,1,2,44,0,0,0,0,0,0
273,경남,2020,황일수,1567,5,5,32,12,11,9,...,2,9,21,61,0,22,15,25,1,0

In [ ]:
cd = pd.concat([c, d], ignore_index=True)

In [ ]:
cd

,클럽명,년도,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,강원,2020,고무열,1824,9,1,50,24,13,13,...,8,9,18,71,1,15,28,36,0,0
1,강원,2020,김경중,1387,1,2,15,6,3,6,...,18,21,47,85,5,13,25,29,4,0
2,강원,2020,김수범,286,1,0,5,1,0,4,...,9,2,11,27,0,1,2,4,0,0
3,강원,2020,김승대,1666,2,6,13,7,3,3,...,6,10,8,72,0,14,5,17,0,0
4,강원,2020,김영빈,2447,1,0,13,6,1,6,...,47,46,140,212,7,5,33,19,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,대전,2020,황도연,830,0,0,1,1,0,0,...,36,18,43,59,1,1,8,7,1,0
527,안양,2020,황문기,1557,2,0,27,10,5,12,...,6,22,50,187,1,19,31,47,5,0
528,상주,2020,황병근,573,0,0,0,0,0,0,...,5,1,0,35,0,0,0,1,0,0
529,경남,2020,황성민,581,0,0,0,0,0,0,...,4,1,2,44,0,0,0,0,0,0
530,경남,2020,황일수,1567,5,5,32,12,11,9,...,2,9,21,61,0,22,15,25,1,0

Warning: Total number of columns (73) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
temp = cd[['클럽명', '년도', '선수명']]

In [ ]:
dup3 = temp.duplicated(['선수명'], keep=False)
df_dup3 = pd.concat([temp, dup3], axis=1)
df_dup3.rename(columns = {0 : 'Dup'}, inplace = True)
df_dup3[df_dup3['Dup'] == True].sort_values(by='선수명')

In [ ]:
cd.iloc[297, 2] = '김민혁920816'
cd.iloc[217, 2] = '김민혁920227'
cd.iloc[369, 2] = '박재우95'
cd.iloc[243, 2] = '박재우98'
cd.iloc[184, 2] = '이근호85'
cd.iloc[430, 2] = '이근호96'
cd.iloc[157, 2] = '이상민95'
cd.iloc[436, 2] = '이상민98'

In [ ]:
temp1 = cd[['클럽명', '선수명']]

In [ ]:
cd_sum = cd.groupby('선수명').sum().reset_index()
cd_sum

<ipython-input-38-4646c1c25cdf>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cd_sum = cd.groupby('선수명').sum().reset_index()

,선수명,년도,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,감한솔,2020,1086,0,0,4,0,1,3,2,...,12,18,45,87,1,8,18,15,1,0
1,강민수,2020,1866,1,0,3,2,0,1,3,...,76,18,84,130,16,2,19,14,3,0
2,강상우,4040,2393,8,12,42,13,20,9,21,...,8,29,68,141,4,15,14,56,2,0
3,강상희,2020,216,0,0,0,0,0,0,0,...,5,3,7,15,2,1,4,3,1,0
4,강승조,2020,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,황병근,2020,573,0,0,0,0,0,0,0,...,5,1,0,35,0,0,0,1,0,0
519,황성민,2020,581,0,0,0,0,0,0,0,...,4,1,2,44,0,0,0,0,0,0
520,황순민,2020,709,0,0,6,1,2,3,2,...,10,10,25,72,0,4,9,5,0,0
521,황일수,2020,1567,5,5,32,12,11,9,19,...,2,9,21,61,0,22,15,25,1,0
522,황현수,2020,1753,1,0,7,2,0,5,6,...,40,36,84,156,7,1,18,6,3,0

In [ ]:
cd_result = pd.merge(cd_sum, temp1)

In [ ]:
cd_result

,선수명,년도,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,클럽명
0,감한솔,2020,1086,0,0,4,0,1,3,2,...,18,45,87,1,8,18,15,1,0,부천
1,강민수,2020,1866,1,0,3,2,0,1,3,...,18,84,130,16,2,19,14,3,0,부산
2,강상우,4040,2393,8,12,42,13,20,9,21,...,29,68,141,4,15,14,56,2,0,포항
3,강상우,4040,2393,8,12,42,13,20,9,21,...,29,68,141,4,15,14,56,2,0,상주
4,강상희,2020,216,0,0,0,0,0,0,0,...,3,7,15,2,1,4,3,1,0,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,황병근,2020,573,0,0,0,0,0,0,0,...,1,0,35,0,0,0,1,0,0,상주
527,황성민,2020,581,0,0,0,0,0,0,0,...,1,2,44,0,0,0,0,0,0,경남
528,황순민,2020,709,0,0,6,1,2,3,2,...,10,25,72,0,4,9,5,0,0,대구
529,황일수,2020,1567,5,5,32,12,11,9,19,...,9,21,61,0,22,15,25,1,0,경남
530,황현수,2020,1753,1,0,7,2,0,5,6,...,36,84,156,7,1,18,6,3,0,서울

In [ ]:
result2 = cd_result.drop_duplicates(subset='선수명', keep='first')
result2

,선수명,년도,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,클럽명
0,감한솔,2020,1086,0,0,4,0,1,3,2,...,18,45,87,1,8,18,15,1,0,부천
1,강민수,2020,1866,1,0,3,2,0,1,3,...,18,84,130,16,2,19,14,3,0,부산
2,강상우,4040,2393,8,12,42,13,20,9,21,...,29,68,141,4,15,14,56,2,0,포항
4,강상희,2020,216,0,0,0,0,0,0,0,...,3,7,15,2,1,4,3,1,0,서울
5,강승조,2020,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,경남
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,황병근,2020,573,0,0,0,0,0,0,0,...,1,0,35,0,0,0,1,0,0,상주
527,황성민,2020,581,0,0,0,0,0,0,0,...,1,2,44,0,0,0,0,0,0,경남
528,황순민,2020,709,0,0,6,1,2,3,2,...,10,25,72,0,4,9,5,0,0,대구
529,황일수,2020,1567,5,5,32,12,11,9,19,...,9,21,61,0,22,15,25,1,0,경남
530,황현수,2020,1753,1,0,7,2,0,5,6,...,36,84,156,7,1,18,6,3,0,서울

In [ ]:
result2 = result2[['년도', '클럽명', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']]

In [ ]:
result2

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2020,감한솔,1086,0,0,4,0,1,3,2,...,18,45,87,1,8,18,15,1,0,부천
1,2020,강민수,1866,1,0,3,2,0,1,3,...,18,84,130,16,2,19,14,3,0,부산
2,4040,강상우,2393,8,12,42,13,20,9,21,...,29,68,141,4,15,14,56,2,0,포항
4,2020,강상희,216,0,0,0,0,0,0,0,...,3,7,15,2,1,4,3,1,0,서울
5,2020,강승조,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,경남
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,2020,황병근,573,0,0,0,0,0,0,0,...,1,0,35,0,0,0,1,0,0,상주
527,2020,황성민,581,0,0,0,0,0,0,0,...,1,2,44,0,0,0,0,0,0,경남
528,2020,황순민,709,0,0,6,1,2,3,2,...,10,25,72,0,4,9,5,0,0,대구
529,2020,황일수,1567,5,5,32,12,11,9,19,...,9,21,61,0,22,15,25,1,0,경남
530,2020,황현수,1753,1,0,7,2,0,5,6,...,36,84,156,7,1,18,6,3,0,서울

In [ ]:
a = pd.read_excel('./21_k_league_01.xlsx')

In [ ]:
a

,클럽명,년도,선수명,등번호,출전시간(분),득점,도움,슈팅,유효 슈팅,차단된슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,대구,2021,김우석,3,740,0,0,4,1,1,...,30,19,42,68,3,2,10,5,3,0
1,대구,2021,김재우,5,1432,0,0,0,0,0,...,61,36,84,156,11,4,5,12,2,0
2,대구,2021,김진혁,7,3151,6,2,50,17,11,...,54,53,142,251,11,24,40,47,2,0
3,대구,2021,김희승,36,188,0,0,0,0,0,...,6,10,23,33,2,1,4,0,0,0
4,대구,2021,라마스,10,1513,0,1,41,17,10,...,4,30,39,141,2,12,22,9,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,울산,2021,이청용,72,1437,3,1,21,10,4,...,18,19,60,118,0,6,17,26,2,0
291,울산,2021,임종은,36,993,1,0,7,3,0,...,27,34,48,88,6,1,3,5,1,0
292,울산,2021,조현우,21,3657,0,0,0,0,0,...,12,9,6,164,0,2,0,4,2,0
293,울산,2021,홍철,33,1624,1,1,9,2,2,...,30,32,68,150,4,8,9,20,4,0
294,울산,2021,힌터제어,24,1134,6,1,24,10,1,...,12,8,13,23,2,12,19,22,0,0

In [ ]:
a = a.drop(columns=['등번호'])

In [ ]:
a.columns = ['클럽명', '년도', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']

In [ ]:
a

,클럽명,년도,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,대구,2021,김우석,740,0,0,4,1,1,2,...,30,19,42,68,3,2,10,5,3,0
1,대구,2021,김재우,1432,0,0,0,0,0,0,...,61,36,84,156,11,4,5,12,2,0
2,대구,2021,김진혁,3151,6,2,50,17,11,22,...,54,53,142,251,11,24,40,47,2,0
3,대구,2021,김희승,188,0,0,0,0,0,0,...,6,10,23,33,2,1,4,0,0,0
4,대구,2021,라마스,1513,0,1,41,17,10,14,...,4,30,39,141,2,12,22,9,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,울산,2021,이청용,1437,3,1,21,10,4,7,...,18,19,60,118,0,6,17,26,2,0
291,울산,2021,임종은,993,1,0,7,3,0,4,...,27,34,48,88,6,1,3,5,1,0
292,울산,2021,조현우,3657,0,0,0,0,0,0,...,12,9,6,164,0,2,0,4,2,0
293,울산,2021,홍철,1624,1,1,9,2,2,5,...,30,32,68,150,4,8,9,20,4,0
294,울산,2021,힌터제어,1134,6,1,24,10,1,13,...,12,8,13,23,2,12,19,22,0,0

In [ ]:
b = pd.read_csv('./21_k_league_02.csv', encoding='cp949')
b = b.drop(columns=['년도'])
b['년도'] = '2021'
b

,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,년도
0,수원FC,곽윤호,1934,0,1,4,1,0,3,4,...,61,151,180,7,4,13,27,1,0,2021
1,수원FC,김건웅,2793,1,0,26,5,9,12,8,...,44,116,257,16,7,44,18,7,0,2021
2,수원FC,김동우88,818,0,0,2,0,0,2,2,...,19,41,66,2,2,4,4,2,0,2021
3,수원FC,김범용,316,0,0,7,1,1,5,5,...,6,22,30,0,2,4,2,0,0,2021
4,수원FC,김상원,2957,0,1,8,0,2,6,4,...,59,163,237,7,8,30,17,3,0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,김천,정현철,1620,1,0,6,3,0,3,3,...,41,112,178,6,5,28,7,5,0,2021
291,김천,조규성,1973,8,3,75,24,26,25,46,...,21,34,109,1,27,43,45,3,0,2021
292,김천,최준혁,794,0,1,7,2,2,3,4,...,32,42,91,4,1,13,19,1,0,2021
293,김천,하창래,706,0,0,0,0,0,0,0,...,26,52,81,10,4,14,7,0,0,2021
294,김천,허용준,1529,7,3,56,25,11,20,29,...,11,27,78,0,8,22,17,5,0,2021

In [ ]:
b.columns = ['클럽명', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장', '년도']

In [ ]:
b = b[['클럽명', '년도', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']]

In [ ]:
ab = pd.concat([a, b], ignore_index=True)
ab

,클럽명,년도,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,대구,2021,김우석,740,0,0,4,1,1,2,...,30,19,42,68,3,2,10,5,3,0
1,대구,2021,김재우,1432,0,0,0,0,0,0,...,61,36,84,156,11,4,5,12,2,0
2,대구,2021,김진혁,3151,6,2,50,17,11,22,...,54,53,142,251,11,24,40,47,2,0
3,대구,2021,김희승,188,0,0,0,0,0,0,...,6,10,23,33,2,1,4,0,0,0
4,대구,2021,라마스,1513,0,1,41,17,10,14,...,4,30,39,141,2,12,22,9,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,김천,2021,정현철,1620,1,0,6,3,0,3,...,26,41,112,178,6,5,28,7,5,0
586,김천,2021,조규성,1973,8,3,75,24,26,25,...,7,21,34,109,1,27,43,45,3,0
587,김천,2021,최준혁,794,0,1,7,2,2,3,...,11,32,42,91,4,1,13,19,1,0
588,김천,2021,하창래,706,0,0,0,0,0,0,...,21,26,52,81,10,4,14,7,0,0
589,김천,2021,허용준,1529,7,3,56,25,11,20,...,7,11,27,78,0,8,22,17,5,0

In [ ]:
temp3 = ab[['클럽명', '년도', '선수명']]

In [ ]:
dup3 = temp3.duplicated(['선수명'], keep=False)
df_dup3 = pd.concat([temp3, dup3], axis=1)
df_dup3.rename(columns = {0 : 'Dup'}, inplace = True)
df_dup3[df_dup3['Dup'] == True].sort_values(by='선수명')

      클럽명    년도  선수명   Dup
247    수원  2021  고승범  True
557    김천  2021  고승범  True
109    제주  2021  공민현  True
375    대전  2021  공민현  True
561    김천  2021  김보섭  True
85     인천  2021  김보섭  True
29     강원  2021  김수범  True
300  수원FC  2021  김수범  True
114    제주  2021  김영욱  True
353    전남  2021  김영욱  True
170    포항  2021  김용환  True
562    김천  2021  김용환  True
276    울산  2021  김인성  True
483   서울E  2021  김인성  True
429    부천  2021  김정호  True
31     강원  2021  김정호  True
379    대전  2021   마사  True
32     강원  2021   마사  True
5      대구  2021  문경건  True
516    안산  2021  문경건  True
565    김천  2021  문지환  True
95     인천  2021  문지환  True
568    김천  2021  박상혁  True
34     강원  2021  박상혁  True
280    울산  2021  박용우  True
569    김천  2021  박용우  True
461    안양  2021  박태준  True
231    성남  2021  박태준  True
572    김천  2021  심상민  True
175    포항  2021  심상민  True
362    전남  2021  알렉스  True
60     광주  2021  알렉스  True
573    김천  2021  오세훈  True
284    울산  2021  오세훈  True
121    제주  2021  이규혁  True
545  충남아산  2021  이규혁  True
123    제주  2021  이동수  True
577    김천  2021  이동수  True
420    경남  2021  이정협  True
45     강원  2021  이정협  True
125    제주  2021  이창근  True
580    김천  2021  이창근  True
581    김천  2021  정동윤  True
105    인천  2021  정동윤  True
189    포항  2021  하창래  True
588    김천  2021  하창래  True

In [ ]:
ab.iloc[114, 2] = '김영욱91'
ab.iloc[353, 2] = '김영욱00'
ab.iloc[429, 2] = '김정호95'
ab.iloc[31, 2] = '김정호98'
ab.iloc[568, 2] = '박상혁98'
ab.iloc[34, 2] = '박상혁02'
ab.iloc[362, 2] = '알렉스93'
ab.iloc[60, 2] = '알렉스92'

In [ ]:
temp1 = ab[['클럽명', '선수명']]

In [ ]:
ab_sum = ab.groupby('선수명').sum().reset_index()
ab_sum

<ipython-input-74-99fa63304984>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ab_sum = ab.groupby('선수명').sum().reset_index()

,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,PA외 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,가브리엘,484,2,1,14,4,0,10,14,0,...,1,0,4,20,0,6,19,5,3,0
1,강민수,1455,0,0,0,0,0,0,0,0,...,52,27,72,135,16,3,11,9,1,0
2,강상우,3509,4,8,55,17,22,16,28,27,...,26,69,104,266,8,21,27,84,2,0
3,강상희,611,1,0,3,2,0,1,3,0,...,25,7,28,55,2,0,1,9,0,0
4,강성진,832,1,2,9,3,3,3,5,4,...,0,13,24,36,0,10,5,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,황일수,1212,4,0,33,12,12,9,26,7,...,2,6,26,69,1,19,12,19,2,0
567,황준호,2188,2,1,8,2,1,5,7,1,...,70,50,123,237,5,3,22,22,1,0
568,황태현,1824,1,3,11,3,4,4,2,9,...,42,36,87,180,7,11,19,10,4,0
569,황현수,1863,0,0,5,0,0,5,5,0,...,70,38,113,170,12,4,17,9,4,0
570,힌터제어,1134,6,1,24,10,1,13,22,2,...,12,8,13,23,2,12,19,22,0,0

In [ ]:
ab_result = pd.merge(ab_sum, temp1)

In [ ]:
ab_result

,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,PA외 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,클럽명
0,가브리엘,484,2,1,14,4,0,10,14,0,...,0,4,20,0,6,19,5,3,0,서울
1,강민수,1455,0,0,0,0,0,0,0,0,...,27,72,135,16,3,11,9,1,0,인천
2,강상우,3509,4,8,55,17,22,16,28,27,...,69,104,266,8,21,27,84,2,0,포항
3,강상희,611,1,0,3,2,0,1,3,0,...,7,28,55,2,0,1,9,0,0,서울
4,강성진,832,1,2,9,3,3,3,5,4,...,13,24,36,0,10,5,7,0,0,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,황일수,1212,4,0,33,12,12,9,26,7,...,6,26,69,1,19,12,19,2,0,경남
586,황준호,2188,2,1,8,2,1,5,7,1,...,50,123,237,5,3,22,22,1,0,부산
587,황태현,1824,1,3,11,3,4,4,2,9,...,36,87,180,7,11,19,10,4,0,서울E
588,황현수,1863,0,0,5,0,0,5,5,0,...,38,113,170,12,4,17,9,4,0,서울
589,힌터제어,1134,6,1,24,10,1,13,22,2,...,8,13,23,2,12,19,22,0,0,울산

In [ ]:
result1 = ab_result.drop_duplicates(subset='선수명', keep='first')
result1

,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,PA외 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,클럽명
0,가브리엘,484,2,1,14,4,0,10,14,0,...,0,4,20,0,6,19,5,3,0,서울
1,강민수,1455,0,0,0,0,0,0,0,0,...,27,72,135,16,3,11,9,1,0,인천
2,강상우,3509,4,8,55,17,22,16,28,27,...,69,104,266,8,21,27,84,2,0,포항
3,강상희,611,1,0,3,2,0,1,3,0,...,7,28,55,2,0,1,9,0,0,서울
4,강성진,832,1,2,9,3,3,3,5,4,...,13,24,36,0,10,5,7,0,0,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,황일수,1212,4,0,33,12,12,9,26,7,...,6,26,69,1,19,12,19,2,0,경남
586,황준호,2188,2,1,8,2,1,5,7,1,...,50,123,237,5,3,22,22,1,0,부산
587,황태현,1824,1,3,11,3,4,4,2,9,...,36,87,180,7,11,19,10,4,0,서울E
588,황현수,1863,0,0,5,0,0,5,5,0,...,38,113,170,12,4,17,9,4,0,서울
589,힌터제어,1134,6,1,24,10,1,13,22,2,...,8,13,23,2,12,19,22,0,0,울산

In [ ]:
result1['년도'] = '2021'

<ipython-input-104-65442fc50cd6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result1['년도'] = '2021'

In [ ]:
result1 = result1[['년도', '클럽명', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']]

In [ ]:
result1

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2021,서울,가브리엘,484,2,1,14,4,0,10,...,1,0,4,20,0,6,19,5,3,0
1,2021,인천,강민수,1455,0,0,0,0,0,0,...,52,27,72,135,16,3,11,9,1,0
2,2021,포항,강상우,3509,4,8,55,17,22,16,...,26,69,104,266,8,21,27,84,2,0
3,2021,서울,강상희,611,1,0,3,2,0,1,...,25,7,28,55,2,0,1,9,0,0
4,2021,서울,강성진,832,1,2,9,3,3,3,...,0,13,24,36,0,10,5,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,2021,경남,황일수,1212,4,0,33,12,12,9,...,2,6,26,69,1,19,12,19,2,0
586,2021,부산,황준호,2188,2,1,8,2,1,5,...,70,50,123,237,5,3,22,22,1,0
587,2021,서울E,황태현,1824,1,3,11,3,4,4,...,42,36,87,180,7,11,19,10,4,0
588,2021,서울,황현수,1863,0,0,5,0,0,5,...,70,38,113,170,12,4,17,9,4,0
589,2021,울산,힌터제어,1134,6,1,24,10,1,13,...,12,8,13,23,2,12,19,22,0,0

In [ ]:
result2.columns = ['년도', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장', '클럽명']

In [ ]:
result2

,년도,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,클럽명
0,2020,감한솔,1086,0,0,4,0,1,3,2,...,18,45,87,1,8,18,15,1,0,부천
1,2020,강민수,1866,1,0,3,2,0,1,3,...,18,84,130,16,2,19,14,3,0,부산
2,4040,강상우,2393,8,12,42,13,20,9,21,...,29,68,141,4,15,14,56,2,0,포항
4,2020,강상희,216,0,0,0,0,0,0,0,...,3,7,15,2,1,4,3,1,0,서울
5,2020,강승조,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,경남
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,2020,황병근,573,0,0,0,0,0,0,0,...,1,0,35,0,0,0,1,0,0,상주
527,2020,황성민,581,0,0,0,0,0,0,0,...,1,2,44,0,0,0,0,0,0,경남
528,2020,황순민,709,0,0,6,1,2,3,2,...,10,25,72,0,4,9,5,0,0,대구
529,2020,황일수,1567,5,5,32,12,11,9,19,...,9,21,61,0,22,15,25,1,0,경남
530,2020,황현수,1753,1,0,7,2,0,5,6,...,36,84,156,7,1,18,6,3,0,서울

In [ ]:
result2 = result2[['년도', '클럽명', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']]

In [ ]:
result2

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2020,부천,감한솔,1086,0,0,4,0,1,3,...,12,18,45,87,1,8,18,15,1,0
1,2020,부산,강민수,1866,1,0,3,2,0,1,...,76,18,84,130,16,2,19,14,3,0
2,4040,포항,강상우,2393,8,12,42,13,20,9,...,8,29,68,141,4,15,14,56,2,0
4,2020,서울,강상희,216,0,0,0,0,0,0,...,5,3,7,15,2,1,4,3,1,0
5,2020,경남,강승조,242,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,2020,상주,황병근,573,0,0,0,0,0,0,...,5,1,0,35,0,0,0,1,0,0
527,2020,경남,황성민,581,0,0,0,0,0,0,...,4,1,2,44,0,0,0,0,0,0
528,2020,대구,황순민,709,0,0,6,1,2,3,...,10,10,25,72,0,4,9,5,0,0
529,2020,경남,황일수,1567,5,5,32,12,11,9,...,2,9,21,61,0,22,15,25,1,0
530,2020,서울,황현수,1753,1,0,7,2,0,5,...,40,36,84,156,7,1,18,6,3,0

In [ ]:
reresult = pd.concat([player_reco, result1, result2], ignore_index=True)

In [ ]:
reresult

In [ ]:
reresult.to_csv('22_21_20_kleague.csv')

In [ ]:
reresult

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,2020,상주,황병근,573,0,0,0,0,0,0,...,5,1,0,35,0,0,0,1,0,0
1694,2020,경남,황성민,581,0,0,0,0,0,0,...,4,1,2,44,0,0,0,0,0,0
1695,2020,대구,황순민,709,0,0,6,1,2,3,...,10,10,25,72,0,4,9,5,0,0
1696,2020,경남,황일수,1567,5,5,32,12,11,9,...,2,9,21,61,0,22,15,25,1,0
1697,2020,서울,황현수,1753,1,0,7,2,0,5,...,40,36,84,156,7,1,18,6,3,0

In [ ]:
result

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,2020,상주,황병근,573,0,0,0,0,0,0,...,5,1,0,35,0,0,0,1,0,0
1694,2020,경남,황성민,581,0,0,0,0,0,0,...,4,1,2,44,0,0,0,0,0,0
1695,2020,대구,황순민,709,0,0,6,1,2,3,...,10,10,25,72,0,4,9,5,0,0
1696,2020,경남,황일수,1567,5,5,32,12,11,9,...,2,9,21,61,0,22,15,25,1,0
1697,2020,서울,황현수,1753,1,0,7,2,0,5,...,40,36,84,156,7,1,18,6,3,0

In [ ]:
player_reco

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,2022,포항,강현무,1879,0,0,0,0,0,0,...,26,86,0,31,6,0,1,4,3,0
600,2022,포항,정재희,2134,7,3,66,24,14,28,...,20,32,19,147,37,30,7,9,0,0
601,2022,안산,이상민95,3318,5,2,23,8,8,7,...,60,98,86,237,90,23,57,50,3,0
602,2022,서울,이상민98,2281,1,4,7,2,2,3,...,137,129,44,93,75,6,25,12,3,0
603,2022,충남아산,이상민99,3461,1,0,19,7,2,10,...,313,200,69,182,136,8,33,42,3,0

In [ ]:
result1 = result1.sort_values(by='클럽명').reset_index(drop=True)

In [ ]:
result1

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2021,강원,김동현,1717,1,0,18,5,4,9,...,37,42,97,176,6,9,34,29,5,0
1,2021,강원,이정협,1951,2,1,32,11,3,18,...,13,6,27,52,0,12,28,21,3,0
2,2021,강원,황문기,1543,1,1,29,14,5,10,...,9,36,65,141,2,13,28,47,4,0
3,2021,강원,신창무,816,1,1,15,3,5,7,...,13,13,27,51,1,6,19,14,1,0
4,2021,강원,고무열,1615,6,3,37,13,9,15,...,8,5,30,60,0,19,20,27,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,2021,포항,이석규,212,0,0,1,1,0,0,...,1,1,11,7,0,2,6,6,0,0
567,2021,포항,강현무,2547,0,0,0,0,0,0,...,17,8,7,135,0,1,0,5,1,0
568,2021,포항,신진호,3222,2,7,51,17,18,16,...,17,65,106,420,7,23,69,28,5,0
569,2021,포항,김륜성,618,0,0,4,1,1,2,...,11,6,31,45,1,5,9,4,4,0
570,2021,포항,이호재,241,2,0,10,6,1,3,...,0,4,6,8,0,7,12,7,1,0

In [ ]:
result2 = result2.sort_values(by='클럽명').reset_index(drop=True)
result2

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2020,강원,김승대,1666,2,6,13,7,3,3,...,6,10,8,72,0,14,5,17,0,0
1,2020,강원,조지훈,415,0,0,7,3,1,3,...,4,7,22,40,1,2,8,3,2,0
2,2020,강원,김경중,1387,1,2,15,6,3,6,...,18,21,47,85,5,13,25,29,4,0
3,2020,강원,조재완,1886,5,3,53,17,19,17,...,13,9,44,78,2,17,12,25,0,0
4,2020,강원,신광훈,2007,0,2,3,0,1,2,...,35,26,105,165,4,3,31,26,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,2020,포항,김용환,285,0,1,0,0,0,0,...,5,3,12,27,2,0,2,3,0,0
519,2020,포항,팔라시오스,1671,5,6,27,11,6,10,...,6,29,30,106,0,19,29,20,5,1
520,2020,포항,하창래,2456,1,0,11,4,0,7,...,72,53,134,221,15,3,42,18,8,0
521,2020,포항,박재우98,624,0,0,1,0,1,0,...,4,7,19,41,0,3,15,8,2,0
522,2020,포항,팔로세비치,1698,14,6,60,26,15,19,...,3,23,32,146,2,12,11,25,3,0

In [ ]:
result = pd.concat([player_reco, result1, result2], ignore_index=True)

In [ ]:
result

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,2020,포항,김용환,285,0,1,0,0,0,0,...,5,3,12,27,2,0,2,3,0,0
1694,2020,포항,팔라시오스,1671,5,6,27,11,6,10,...,6,29,30,106,0,19,29,20,5,1
1695,2020,포항,하창래,2456,1,0,11,4,0,7,...,72,53,134,221,15,3,42,18,8,0
1696,2020,포항,박재우98,624,0,0,1,0,1,0,...,4,7,19,41,0,3,15,8,2,0
1697,2020,포항,팔로세비치,1698,14,6,60,26,15,19,...,3,23,32,146,2,12,11,25,3,0

Warning: Total number of columns (73) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
result.to_csv('22_21_20_kleague.csv')

In [ ]:
player_reco

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,2022,포항,강현무,1879,0,0,0,0,0,0,...,26,86,0,31,6,0,1,4,3,0
600,2022,포항,정재희,2134,7,3,66,24,14,28,...,20,32,19,147,37,30,7,9,0,0
601,2022,안산,이상민95,3318,5,2,23,8,8,7,...,60,98,86,237,90,23,57,50,3,0
602,2022,서울,이상민98,2281,1,4,7,2,2,3,...,137,129,44,93,75,6,25,12,3,0
603,2022,충남아산,이상민99,3461,1,0,19,7,2,10,...,313,200,69,182,136,8,33,42,3,0

In [ ]:
df = pd.read_table('new.txt', names=['클럽명', '선수명', '포지션', '등번호', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장'])

In [ ]:
df = df.drop(columns=['포지션', '등번호'])

In [ ]:
df

,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,티아고,2496,15,2,80,32,8,40,63,...,18,21,20,98,33,26,35,21,5,0
1,2022,티아고,434,4,1,18,9,1,8,14,...,4,4,3,18,5,6,8,6,2,0
2,2022,티아고,87,2,0,3,3,0,0,2,...,1,0,0,3,0,0,1,1,0,0
3,2022,티아고,497,0,1,11,2,3,6,5,...,7,3,5,18,6,10,5,2,2,1
4,2022,티아고,576,3,0,22,11,3,8,11,...,7,4,3,16,3,16,6,3,3,0
5,2022,이민기,96,0,0,2,1,0,1,2,...,5,6,1,5,1,0,2,2,0,0
6,2022,이민기,1202,1,1,7,2,2,3,3,...,34,37,33,59,25,8,11,13,3,0
7,2022,이민기,315,0,0,2,0,0,2,1,...,11,12,9,17,9,2,7,2,1,0
8,2022,이민기,2430,1,1,3,1,1,1,1,...,120,77,71,134,82,10,25,13,5,0
9,2022,이민기,192,0,0,0,0,0,0,0,...,14,9,5,12,5,0,2,1,1,0
10,2022,이민기,195,0,0,0,0,0,0,0,...,6,3,6,6,11,1,7,4,2,0
11,2022,김경민,89,1,0,2,1,0,1,2,...,0,0,1,7,1,1,2,0,0,0
12,2022,김경민,646,5,2,17,9,3,5,14,...,5,5,4,17,10,9,9,4,1,0
13,2022,김경민,337,1,0,9,4,3,2,8,...,2,2,3,17,3,6,5,2,1,0
14,2022,김경민,3295,0,0,0,0,0,0,0,...,25,164,0,62,4,1,0,3,2,0

In [ ]:
df.iloc[0, 1] = '티아고93'
df.iloc[1, 1] = '티아고93'
df.iloc[2, 1] = '티아고95'
df.iloc[3, 1] = '티아고95'
df.iloc[4, 1] = '티아고95'
df.iloc[5, 1] = '이민기93'
df.iloc[6, 1] = '이민기93'
df.iloc[7, 1] = '이민기93'
df.iloc[8, 1] = '이민기01'
df.iloc[9, 1] = '이민기01'
df.iloc[10, 1] = '이민기01'
df.iloc[11, 1] = '김경민97'
df.iloc[12, 1] = '김경민97'
df.iloc[13, 1] = '김경민91'
df.iloc[14, 1] = '김경민91'

In [ ]:
df

,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,티아고93,2496,15,2,80,32,8,40,63,...,18,21,20,98,33,26,35,21,5,0
1,2022,티아고93,434,4,1,18,9,1,8,14,...,4,4,3,18,5,6,8,6,2,0
2,2022,티아고95,87,2,0,3,3,0,0,2,...,1,0,0,3,0,0,1,1,0,0
3,2022,티아고95,497,0,1,11,2,3,6,5,...,7,3,5,18,6,10,5,2,2,1
4,2022,티아고95,576,3,0,22,11,3,8,11,...,7,4,3,16,3,16,6,3,3,0
5,2022,이민기93,96,0,0,2,1,0,1,2,...,5,6,1,5,1,0,2,2,0,0
6,2022,이민기93,1202,1,1,7,2,2,3,3,...,34,37,33,59,25,8,11,13,3,0
7,2022,이민기93,315,0,0,2,0,0,2,1,...,11,12,9,17,9,2,7,2,1,0
8,2022,이민기01,2430,1,1,3,1,1,1,1,...,120,77,71,134,82,10,25,13,5,0
9,2022,이민기01,192,0,0,0,0,0,0,0,...,14,9,5,12,5,0,2,1,1,0
10,2022,이민기01,195,0,0,0,0,0,0,0,...,6,3,6,6,11,1,7,4,2,0
11,2022,김경민97,89,1,0,2,1,0,1,2,...,0,0,1,7,1,1,2,0,0,0
12,2022,김경민97,646,5,2,17,9,3,5,14,...,5,5,4,17,10,9,9,4,1,0
13,2022,김경민91,337,1,0,9,4,3,2,8,...,2,2,3,17,3,6,5,2,1,0
14,2022,김경민91,3295,0,0,0,0,0,0,0,...,25,164,0,62,4,1,0,3,2,0

In [ ]:
df = df.groupby('선수명').sum().reset_index()

In [ ]:
df = df.drop(columns=['클럽명'])

In [ ]:
df['클럽명'] = ['광주', '김천', '경남', '광주', '경남', '안산']

In [ ]:
df['년도'] = '2022'

In [ ]:
df

,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,PA내 슈팅,PA외 슈팅,...,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,클럽명,년도
0,김경민91,3632,1,0,9,4,3,2,8,1,...,3,79,7,7,5,5,3,0,광주,2022
1,김경민97,735,6,2,19,10,3,6,16,3,...,5,24,11,10,11,4,1,0,김천,2022
2,이민기01,2817,1,1,3,1,1,1,1,2,...,82,152,98,11,34,18,8,0,경남,2022
3,이민기93,1613,1,1,11,3,2,6,6,5,...,43,81,35,10,20,17,4,0,광주,2022
4,티아고93,2930,19,3,98,41,9,48,77,21,...,23,116,38,32,43,27,7,0,경남,2022
5,티아고95,1160,5,1,36,16,6,14,18,18,...,8,37,9,26,12,6,5,1,안산,2022

In [ ]:
df = df[['년도', '클럽명', '선수명', '출전시간', '득점', '도움', '슈팅', '유효 슈팅', '차단된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅',
                                                                '오프사이드', '프리킥', '코너킥', '스로인', '드리블 시도', '드리블 성공', '드리블 성공 %', '패스 시도', '패스 성공', '패스 성공 %', '키패스',
                                                                '전방 패스 시도', '전방 패스 성공', '전방 패스 성공 %', '후방 패스 시도', '후방 패스 성공', '후방 패스 성공 %', '횡패스 시도', '횡패스 성공', '횡패스 성공 %',
                                                                '공격지역패스 시도', '공격지역패스 성공', '공격지역패스 성공 %', '수비지역패스 시도', '수비지역패스 성공', '수비지역패스 성공 %',
                                                                '중앙지역패스 시도', '중앙지역패스 성공', '중앙지역패스 성공 %',
                                                                '롱패스 시도', '롱패스 성공', '롱패스 성공 %', '중거리패스 시도', '중거리패스 성공', '중거리패스 성공 %', '숏패스 시도', '숏패스 성공', '숏패스 성공 %',
                                                                '크로스 시도', '크로스 성공', '크로스 성공 %', '탈압박',
                                                                '경합 지상 시도', '경합 지상 성공', '경합 지상 성공 %', '경합 공중 시도', '경합 공중 성공', '경합 공중 성공 %',
                                                                '태클 시도', '태클 성공', '태클 성공 %', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']]

In [ ]:
df

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,광주,김경민91,3632,1,0,9,4,3,2,...,27,166,3,79,7,7,5,5,3,0
1,2022,김천,김경민97,735,6,2,19,10,3,6,...,5,5,5,24,11,10,11,4,1,0
2,2022,경남,이민기01,2817,1,1,3,1,1,1,...,140,89,82,152,98,11,34,18,8,0
3,2022,광주,이민기93,1613,1,1,11,3,2,6,...,50,55,43,81,35,10,20,17,4,0
4,2022,경남,티아고93,2930,19,3,98,41,9,48,...,22,25,23,116,38,32,43,27,7,0
5,2022,안산,티아고95,1160,5,1,36,16,6,14,...,15,7,8,37,9,26,12,6,5,1

In [ ]:
gyeongmin91 = df.iloc[0, :]
minki01 = df.iloc[2]
tiago95 = df.iloc[5]

In [ ]:
player_reco.iloc[45] = tiago93
player_reco.iloc[51] = minki93
player_reco.iloc[94] = gyeongmin97

In [ ]:
player_reco

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,2022,포항,강현무,1879,0,0,0,0,0,0,...,26,86,0,31,6,0,1,4,3,0
600,2022,포항,정재희,2134,7,3,66,24,14,28,...,20,32,19,147,37,30,7,9,0,0
601,2022,안산,이상민95,3318,5,2,23,8,8,7,...,60,98,86,237,90,23,57,50,3,0
602,2022,서울,이상민98,2281,1,4,7,2,2,3,...,137,129,44,93,75,6,25,12,3,0
603,2022,충남아산,이상민99,3461,1,0,19,7,2,10,...,313,200,69,182,136,8,33,42,3,0

In [ ]:
player_reco.loc[604] = gyeongmin91
player_reco.loc[605] = minki01
player_reco.loc[606] = tiago95

In [ ]:
player_reco

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,서울,이상민98,2281,1,4,7,2,2,3,...,137,129,44,93,75,6,25,12,3,0
603,2022,충남아산,이상민99,3461,1,0,19,7,2,10,...,313,200,69,182,136,8,33,42,3,0
604,2022,광주,김경민91,3632,1,0,9,4,3,2,...,27,166,3,79,7,7,5,5,3,0
605,2022,경남,이민기01,2817,1,1,3,1,1,1,...,140,89,82,152,98,11,34,18,8,0
606,2022,안산,티아고95,1160,5,1,36,16,6,14,...,15,7,8,37,9,26,12,6,5,1

In [ ]:
player_reco.to_csv('22_kleague_player_reco_최종.csv')

In [ ]:
result1

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2021,강원,김동현,1717,1,0,18,5,4,9,...,37,42,97,176,6,9,34,29,5,0
1,2021,강원,이정협,1951,2,1,32,11,3,18,...,13,6,27,52,0,12,28,21,3,0
2,2021,강원,황문기,1543,1,1,29,14,5,10,...,9,36,65,141,2,13,28,47,4,0
3,2021,강원,신창무,816,1,1,15,3,5,7,...,13,13,27,51,1,6,19,14,1,0
4,2021,강원,고무열,1615,6,3,37,13,9,15,...,8,5,30,60,0,19,20,27,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,2021,포항,이석규,212,0,0,1,1,0,0,...,1,1,11,7,0,2,6,6,0,0
567,2021,포항,강현무,2547,0,0,0,0,0,0,...,17,8,7,135,0,1,0,5,1,0
568,2021,포항,신진호,3222,2,7,51,17,18,16,...,17,65,106,420,7,23,69,28,5,0
569,2021,포항,김륜성,618,0,0,4,1,1,2,...,11,6,31,45,1,5,9,4,4,0
570,2021,포항,이호재,241,2,0,10,6,1,3,...,0,4,6,8,0,7,12,7,1,0

In [ ]:
result2

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2020,강원,김승대,1666,2,6,13,7,3,3,...,6,10,8,72,0,14,5,17,0,0
1,2020,강원,조지훈,415,0,0,7,3,1,3,...,4,7,22,40,1,2,8,3,2,0
2,2020,강원,김경중,1387,1,2,15,6,3,6,...,18,21,47,85,5,13,25,29,4,0
3,2020,강원,조재완,1886,5,3,53,17,19,17,...,13,9,44,78,2,17,12,25,0,0
4,2020,강원,신광훈,2007,0,2,3,0,1,2,...,35,26,105,165,4,3,31,26,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,2020,포항,김용환,285,0,1,0,0,0,0,...,5,3,12,27,2,0,2,3,0,0
519,2020,포항,팔라시오스,1671,5,6,27,11,6,10,...,6,29,30,106,0,19,29,20,5,1
520,2020,포항,하창래,2456,1,0,11,4,0,7,...,72,53,134,221,15,3,42,18,8,0
521,2020,포항,박재우98,624,0,0,1,0,1,0,...,4,7,19,41,0,3,15,8,2,0
522,2020,포항,팔로세비치,1698,14,6,60,26,15,19,...,3,23,32,146,2,12,11,25,3,0

In [ ]:
all = pd.concat([player_reco, result1, result2], ignore_index=True)

In [ ]:
all

,년도,클럽명,선수명,출전시간,득점,도움,슈팅,유효 슈팅,차단된슈팅,벗어난슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
0,2022,강원,갈레고,386,3,0,11,5,2,4,...,3,6,6,24,8,4,11,10,2,0
1,2022,강원,김대우,541,1,0,6,1,1,4,...,9,14,14,39,15,10,11,10,1,0
2,2022,강원,김대원,3287,12,13,64,21,15,28,...,22,35,29,200,45,35,23,20,0,0
3,2022,강원,김동현,2941,0,1,21,4,2,15,...,116,100,74,215,96,9,38,34,3,0
4,2022,강원,코바야시,694,0,1,9,1,2,6,...,10,22,14,74,18,5,11,17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,2020,포항,김용환,285,0,1,0,0,0,0,...,5,3,12,27,2,0,2,3,0,0
1697,2020,포항,팔라시오스,1671,5,6,27,11,6,10,...,6,29,30,106,0,19,29,20,5,1
1698,2020,포항,하창래,2456,1,0,11,4,0,7,...,72,53,134,221,15,3,42,18,8,0
1699,2020,포항,박재우98,624,0,0,1,0,1,0,...,4,7,19,41,0,3,15,8,2,0
1700,2020,포항,팔로세비치,1698,14,6,60,26,15,19,...,3,23,32,146,2,12,11,25,3,0

In [ ]:
all.to_csv('22_21_20_kleague_최종.csv')